*.hex
*.elf
.gitignore
Makefile
main.cpp
*.pbxproj
*.xcworkspacedata
*._*
*.d
*.o
*.bak
.DS_Store
About/
Configurations/
Makefiles/
Sketchbook/
Utilities/
xcuserdata/
Builds/
Hot_Tub_Controller_OLD/
LCD_Backpack_OLD/
Heater_On/
*.xccheckout
log*.txt
*.xcconfig